<!-- Page Content -->
<div class="container">
  <!-- Heading Row -->
  <form method="POST" action="/items" name="itemDeleteForm" id="itemDeleteForm">
    <input class="status" name="statusDiv" id="statusDiv" value="{{status}}" hidden />
    <input class="itemId" name="itemId" id="itemId" value="{{itemId}}" hidden />
    <input class="role" name="role" id="role" value="{{role}}" hidden />
    <input class="sellType" name="sellType" id="sellType" value="{{sellType}}" hidden />
    <div class="row align-items-center my-5">
      <div class="col-md-4">
        <div id="thumbnailDiv">
          <img class="img-thumbnail hover-image" height="250" src={{image}} alt="image">
        </div>
        {{!-- <div class="invalid-feedback">
                Uploaded file is not a valid image.
              </div> --}}
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-md-8">
        <div class="form-group">
          <h1>{{itemName}}</h1>
          <small class="form-text text-muted">&nbsp;&nbsp;&nbsp;&nbsp;by {{userID}}</small>
          <small class="form-text text-muted">&nbsp;&nbsp;&nbsp;&nbsp;{{postDate}}</small>
        </div>

        <div class="form-group">
          <p>Categories</p>
          <p class="form-control" id="categories">{{categories}}</p>
        </div>

        <div class="form-group">
          <p>Descriptions</p>
          <p class="form-control" id="descriptions">{{description}}</p>
        </div>

        <div class="form-group">
          <div>
            <p>Original Price</p>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <p class="form-control" id="originalPrice">{{price}}</p>
            </div>
          </div>

          <div class="bidPriceDiv" id="bidPriceDiv" hidden>
            <p>Current highest Bid</p>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <p class="form-control" id="currentPrice">{{currentPrice}}</p>
            </div>
          </div>
        </div>

        <a class="btn btn-primary" id="buyLink" href="/items/buyItem/{{id}}" hidden>buy</a>
        <a class="btn btn-primary" id="modifyLink" href="/items/modifyItem/{{id}}" hidden>Modify</a>
        <a class="btn btn-primary" id="submitLink" href="/login">Back</a>
        <button type="submit" id="deleteButton" class="btn btn-primary" hidden>Delete</button>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
  </form>
</div>
{{!-- {{comments}} --}}
<!-- Content Row -->
<div class="row">
  <div class="bidItemDiv" id="bidItemDiv" hidden>
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">Bidder</h2>
        <p class="card-text">There are currently {{bidderCount}} people bidding on this product. The current highest bid
          price is ${{currentPrice}} called by {{currentBidder}}.</p>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <a class="btn btn-primary" id="bidLink" href="/bidItems/item/{{id}}" hidden>Bid</a>
  </div>
</div>
{{req.session.user}}
<form method="POST" class="create-new-comment">
  {{!-- <label for="createComment">Username</label> --}}
  <input class="itemID" name="itemID" type="hidden" value={{itemId}}>
  <input class="username" name="username" type="hidden" value={{userID}}>
  <label for="my-input">
    comment:
  </label><br>
  <textarea class="new-comment" id="my-input" rows="2" cols="30" placeholder="Add a comment..."></textarea>
  <button type="submit">submit</button>
</form>
{{ currUser }}
{{#each listOfComments}}
<div class="comment">
  <h3>{{this.username}}</h3> <br>
  <p>{{this.comment}} <br>
    {{this.commentTime}} </p>
</div>
{{/each}}
<div class="new-comment">
</div>


<!-- Bootstrap core JavaScript -->
<script src="../public/jquery/jquery.min.js"></script>
<script src="../public/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/public/item-script.js"></script>