{{#each items}}
    <h3>{{itemName}}</h3>
    <p>{{description}} <br>
        Min bid of {{currentPrice}} 
            {{#if highestBidder}} 
                by {{highestBidder}} 
            {{/if}} <br>
        Posted at {{postedTime}}    
    </p>
    {{_id}}
    {{#if ../loggedIn}}
        <form id="new-comment-form">
            <input id="itemID"   name="itemID"   type="hidden" value={{_id}}>
            <input id="username" name="username" type="hidden" value={{../user.username}}> 
            {{!-- <label>Comment <input id="new-comment-input" type="text" /></label>   --}}
            <label>Comment <textarea id="new-comment"></textarea></label>
            <input type="submit" value="Add comment" />
        </form>   
    {{/if}}
    {{#each comments}}
        each of these lines represents a comment on the item <br>
    {{/each}}
    <div id="new-content">
    </div>
{{/each}}

<p>end of posts</p>