{{#each items}}
    <h3>{{itemName}}</h3>
    <p>{{description}} <br>
        Min bid of {{currentPrice}} 
            {{#if highestBidder}} 
                by {{highestBidder}} 
            {{/if}} <br>
        Posted at {{postedTime}}    
    </p>
    {{_id}}
    {{#if ../loggedIn}}
        <form method="POST" class="create-new-comment" onsubmit="helloWorld()">
            {{!-- <label for="createComment">Username</label> --}}
            <input id="itemID"   name="itemID"   type="hidden" value={{_id}}>
            <input id="username" name="username" type="hidden" value={{../user.username}}>
            <textarea id="new-Comment" rows="2" cols="30"></textarea>
            <button type="submit">submit</button>
        </form>        
    {{/if}}
    {{#each comments}}
        each of these lines represents a comment on the item <br>
    {{/each}}
{{/each}}

<p>end of posts</p>