
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-2"> For Sale </h1>
            <form method="POST" class="search" action='/search/'>
                <label for="search">
                 search
                </label>
                <input type="text" name="search" id= "search" placeholder="Search..">
                <button type="submit">Go!</button>
            </form>
        </div>
    </div>

    <div class="container">
    <div class="row">
    {{#each items}}
        {{!-- {{#if buyer}} --}}
            {{!-- {{else }} --}}
            <div class="col-md-4">
                <h2><a href="/items/item/{{_id}}"> {{itemName}} </a></h2>
                <p>Sold by: {{userId}}</p>
                {{_id}}
                {{#if image}}
                    <img src={{image}} alt="item" class="image1">
                {{/if}}
                <p>{{description}} <br>
                    Min bid of {{price}}
                        {{#if highestBidder}}
                            by {{highestBidder}}
                        {{/if}} <br>
                    Posted at {{postDate}}
                </p>
            </div>
        {{!-- {{/if}} --}}
    {{/each}}
    </div>
        <hr>
    </div> <!-- /container -->


