<h2> Username: {{user.username}} </h2>      
<h3> First Name: {{user.firstName}} </h3>   
<h3> Last Name: {{user.lastName}} </h3>     
<p>  email: {{user.email}}</p>              
<p> Location: {{user.location}} </p>        

{{!-- Use database functions to get all the info about these items and display them here --}}
<h2> Items you've bid on </h2>
{{#each user.itemsBidOn}}
    <h3>Each of these headers represents an item that the user has bid on</h3>
{{/each}}

{{!-- Use database functions to get all the info about these items and display them here --}}
<h2> Items you're selling </h2>
{{#each user.itemsForSale}}
    <h3>Each of these headers represents an item that the user is selling</h3>
{{/each}}