


  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Hello {{user.firstName}}! </h1>
      <p>Information:</p>
      <ul>
        <li> Username: {{user.username}} </li>      
        <li> First Name: {{user.firstName}} </li>   
        <li> Last Name: {{user.lastName}} </li>     
        <li>  email: {{user.email}}</li>              
        <li> Location: {{user.location}} </li>  
      </ul>
    
    </div>
  </div>

    <div class="container">
    <!-- Example row of columns -->
    <h1>Items you're selling</h1>
    <a href="/items/addItem"> Create a new listing </a>
    <br>
    <br>
    <div class="row">
      {{#each items1}}
      <div class="col-md-4">
            <h3>{{itemName}}</h3>
            <div class="class1"><img src={{image}} alt="item" id="image1"></div>
            <div class= "class2">  <p>ID:{{_id}}</p>
            <p>SellType: {{sellType}} </p>
            <p>Price: ${{price}} </p>
            <p>{{description}}</p>
            <p>Date Posted: {{postDate}}</p>
            <p>Status: {{status}}</p>
            </div>
          
      </div>
      {{/each}}
    </div>
        <hr>
        <br>
        <br>
  <div class="container">
    <!-- Example row of columns -->
    <h1>Items you've bid on</h1>
    <div class="row">
         {{#each items2}}
      <div class="col-md-4">
            <h3>{{itemName}}</h3>
            <div class="class1"><img src={{image}} alt="item" id="image1"></div>
            <div class= "class2">  <p>ID:{{_id}}</p>
            <p>SellType: {{sellType}} </p>
            <p>Price: ${{price}} </p>
            <p>{{description}}</p>
            <p>Date Posted: {{postDate}}</p>
            <p>Status: {{status}}</p>
            </div>
          
      </div>
      {{/each}}
    </div>

 <hr>
  </div> <!-- /container -->


